*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.upper-container{
    width: 50%;
    height: 10%;
    margin: 50px auto;
    position: relative;

}
.upper-container1{
    width: 35%;
    height: 100%;
    padding-top: 20px;
}
#tasks{
    font-weight: bold;
    font-size: 2.5rem;
}
#lists{
    font-size: 2.5rem;
    margin-left: 10px;
    opacity: 0.5;
}
.upper-container2{
    width: 30%;
    height: 100%;
    padding-top: 20px;
    position: absolute;
    top: 0px;
    right: 0px;
}
#circle{
    position: absolute;
    width: 10%;
    height: 100%;
}
#addlist{
    position: absolute;
    width: 80%;
    height: 100%;
    top: 0px;
    right: 0px;
    font-size:25px;
    opacity: 0.5;
    padding-top: 25px;
}
.bottom-container{
    display: flex;
    justify-content:space-around;
    margin-top: 10%;

}
.card1{
    margin-top: 10px;
    border: 1.5px solid red;
    height: 45vh;
    width: 15%;
    position: relative;
    border-radius: 8px;
    box-shadow: 5px 5px 10px red;
    margin: auto;
}
.card2{
    margin-top: 10px;
    border: 1.5px solid red;
    height: 45vh;
    width: 15%;
    position: relative;
    border-radius: 8px;
    box-shadow: 5px 5px 10px red;
    margin: auto;
}
.card3{
    margin-top: 10px;
    border: 1.5px solid red;
    height: 45vh;
    width: 15%;
    position: relative;
    border-radius: 8px;
    box-shadow: 5px 5px 10px red;
    margin: auto;
}
.div1{
    position: absolute;
    top: 15px;
    right: 0px;
    font-size: 25px;
    width: 85%;
    text-align: left;
    height: 15%;
    color: red;
    border-bottom: 1px solid black;
}
.div2{
    width: 90%;
    height: 10%;
    font-size: 22px;
    color: red;
    text-align: right;
    position: absolute;
    text-decoration: line-through;
    top: 35%;
    font-weight: bold;
}
.div3{
    width: 90%;
    height: 10%;
    position: absolute;
    top: 52%;
    text-align: left;
    font-size:25px;
}
#check{
    margin-left: 10px;
    width: 15px;
    height: 15px;
}
.next-page{
    position: relative;
    margin: auto;
    margin-top: 35px;
    text-align: center;
}
.notshow{
    filter: blur(6px);
    -webkit-filter: blur(6px);
}
.popup2{
        position: absolute;
        left: 37%;
        top: 30%;
        height: 25vh;
        width: 27%;
        border: 1.5px solid red;
        border-radius: 10px;
        color: red;
        font-size:18px;
        box-shadow: 3px 3px 10px gray;
        background-color: white;
        padding: 20px;
    }

#additem{
        opacity: 0.7;
        font-size: 17px;
    }
.itemarea{
        margin-top: 20px;
        margin-left: 20px;
        border-radius: 4px;
        width: 85%;
        height: 25%;
        border: 2.5px solid red;
        box-shadow: 1px 1px 3px gray;
    }
.itembutton{
        width: 25%;
        height: 20%;
        margin-top: 75px;
        color: white;
        background-color: red;
        border-radius: 20px;
        border: none;
        position: absolute;
        left: 140px;
        font-size: 16px;
    }
